<container>
  <div class="row">
    <div class="col-lg-1">
    </div>

    <div class="col-lg-2">
      <div class="city_button">
        <%= link_to "街から探す", class:"btn btn-info" ,style:"width:120px" %>
      </div>

      <div class="recomend">
        <p class="recomend_title">おすすめの投稿</p>
        <div class="recomend_post">
          <% @post_ranks.each do |post_rank| %>
            <%= link_to post_path(post_rank) do %>
              <%= attachment_image_tag post_rank, :image, style:"width:150px; height:auto;" %>
            <% end %>
            <%= post_rank.post.post_name %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-lg-7">
      <div class="post_all">
        <% @posts.each do |post| %>
        <div class="post">
          <%= link_to post_path(post.id) do %>
            <%= attachment_image_tag post, :image, style:"width:300px; height:auto;" %>
          <% end %>
          <%= post.post_name %>
        </div>
        <% end %>
      </div>
    </div>

    <div class="col-lg-1">
    </div>

  </div>
</container>