<container>

  <%= form_with model: @post, url:posts_path, method: :POST, local:true do |f| %>
    <div class="row">
      <div class="col-lg 3">
      </div>

      <div class="col-lg-6 mx-auto">
        <table>
          <tr>
            <td class="table_text">画像を選択　<%= f.attachment_field :image %></td>
          </tr>

          <tr>
            <td class="table_text"><%= f.text_field :post_name, placeholder:"タイトル", style:"width:300px; height:25px;" %></td>
          </tr>

          <tr>
            <td class="table_text"><%= f.text_area :post_text, placeholder:"本文", style:"width:400px; height:200px;" %></td>
          </tr>

          <tr>
            <td class="table_text">
              <%= f.select :city_id, @cities.map{ |city| [city.name, city.id] },:prompt => "まちを選択" %>
            </td>
          </tr>

        </table>
      </div>

      <div class="col-lg 3">
      </div>
    </div>

    <div class="row">
      <div class="col-lg 3">
      </div>

      <div class="col-lg-6 mx-auto">
        <div class="button">
          <%=f.submit "投稿", class:"btn btn-info" ,style:"width:120px" %>
        </div>
      </div>

      <div class="col-lg 3">
      </div>
    </div>
  <% end %>
</container>
