<container>
  <div class="row">
    <dv class="col-lg-12 mx-auto">
      <table>
        <tr>
          <td><%= attachment_image_tag @post, :image %></td>
        </tr>

        <tr>
          <td><%= @post.post_name %></td>
        </tr>

        <tr>
          <td><%= @post.post_text %></td>
        </tr>
      </table>

      <% if @post.favorited_by?(current_user) %>
        <p>
          <%= link_to post_favorites_path(@post), method: :delete do %>
            ♥<%= @post.favorites.count %> いいね
          <% end %>
        </p>
      <% else %>
        <p>
          <%= link_to post_favorites_path(@post), method: :post do %>
            ♡<%= @post.favorites.count %> いいね
          <% end %>
        </p>
      <% end %>

    </dv>
  </div>
</container>