<container>
  <div class="row">
    <div class="col-lg-1">
    </div>

    <div class="col-lg-3", style="margin-top:50px;">
      <div class="spot_posts" >

        <% @posts.each do |post| %>
        <div class="card">
          <%= link_to post_path(post) do %>
            <%= attachment_image_tag post, :image, class:"card-img-top" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= post.post_name %></h5>
            <p class="card-text", style="padding-top:10px;">by <%#= post.username %></p>
            <p class="card-text", style="padding:10px 0;"><%= post.post_text %></p>
          </div>
        </div>
        <% end %>

      </div>
    </div>

    <div class="col-lg-6", style="margin-top:50px;">
      <div id="gmap"></div>
    </div>

    <div class="col-lg-1">
    </div>

  </div>
</container>

 <script>
    var map;
    function initMap() {
    var target = document.getElementById('gmap');
    var empire = {lat: 35.705920321831975, lng: 139.61800825002};
    var marker = [];
    var spaces = [
      <% @posts.each do |post| %>
        [<%= post.lat ||= 35.6802117 %>,<%= post.lng ||=139.7576692 %>],
      <% end %>
    ]

    map = new google.maps.Map(target, {
      center: empire,
      zoom: 13
    });

    $(".spot_posts").hide();
    for(var i = 0; i < spaces.length; ++i) {
      spot = new google.maps.LatLng({lat: spaces[i][0], lng: spaces[i][1]});
      marker[i] = new google.maps.Marker({
        position: spot,
        map: map,
      });

      google.maps.event.addListener(marker[i], 'click', function(e) {
        $(".spot_posts").show();
      });
      }
    }
    google.maps.event.addDomListener(window, 'load', initMap);

  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5wzr3646rP2VFEUQPF-N-SoeyYBPhK-U&callback=initMap&v=weekly" async></script>