<container>
  <div class=“row”>
    <h2 class="page_title">まちのコラム</h2>
  </div>

  <div class="row">
    <div class="col-lg-1">
    </div>

    <div class="col-lg-2">
      <div class="city_button">
        <%= link_to "街から探す", class:"btn btn-info" ,style:"width:120px" %>
      </div>

      <div class="recomend">
        <p class="recomend_title">おすすめのコラム</p>
        <div class="recomend_column">
          <% @column_ranks.each do |column_rank| %>
            <%= link_to column_path(column_rank) do %>
              <%= attachment_image_tag column_rank, :image, style:"width:150px; height:auto;" %>
            <% end %>
            <%= column_rank.column.column_name %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-lg-7">
      <% @columns.each do |column| %>
        <div class="column_all">
          <%= link_to column_path(column) do %>
            <%= attachment_image_tag column, :image, style:"width:300px; height:auto;" %>
          <% end %>
          <%= column.title %>
        </div>
      <% end %>
    </div>

  </div>
</container>