<container>
  <div class="row">
    <div class="col-lg-2">
    </div>

    <div class="col-lg-8">
      <div class="column_title_box">
        <h4 class="column_title">[<%#= @column.city.name %>]<%= @column.title %></h4>
      </div>

      <div class="favorite">
        <% if @column.favorited_by?(current_user) %>
          <p>
            <%= link_to post_favorites_path(@column), method: :delete do %>
              ♥<%= @column.favorites.count %> いいね
            <% end %>
          </p>
        <% else %>
          <p>
            <%= link_to post_favorites_path(@column), method: :post do %>
              ♡<%= @column.favorites.count %> いいね
            <% end %>
          </p>
        <% end %>
      </div>

      <div class="column_main_box">
        <%= attachment_image_tag @column, :image, style:"width:600px; height:auto;" %>

        <div class="column_text">
          <%= @column.text %>
        </div>

      </div>
    </div>

    <div class="col-lg-2">
    </div>

  </div>
</container>
