<header id="admin_header">
  <div class="nav">

    <div class="logo">
      <%= link_to new_admin_session_path, class:"link_to" do %>
        <p class="navlogo">まちコミ</p>
      <% end %>
    </div>

  </div>

</header>

<div class="container">

  <div class="row">
    <div class="col-lg-12 mx-auto">
      <h3 style="text-align:center; padding:80px 0 20px 0;">管理者ログイン</h3>
    </div>

  </div>

  <p class="alert"><%= alert %></p>
  <style>
    .alert{
      color:red;
    }
  </style>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <div class="sign_in_form">
        <table style="margin:0 auto;">
          <tr>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"メールアドレス",style:"margin-left:30px; margin-bottom:30px; width:400px;" %></td>
          </tr>

          <tr>
            <td><%= f.password_field :password, autocomplete: "current-password",style:"margin-left:30px; margin-bottom:20px; width:400px;",placeholder:"パスワード" %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="button", style="margin:50px auto 0 auto;">
        <%= f.submit "ログイン", class:"btn btn-outline-info", style:"width:150px;"%>
      </div>
    </div>
  <% end %>

  <div class="row">
      <div class="info", style="width:540px; margin:50px auto 0 auto;">
        <p style="font-weight:200;">管理者権限を付与されていない方は、<%= link_to "こちら" %>からお問い合わせください。</p>
      </div>
    </div>

</div>

<script>
  $(function() {
    $('.hamburger').click(function() {
        $(this).toggleClass('active');

        if ($(this).hasClass('active')) {
            $('.globalMenuSp').addClass('active');
        } else {
            $('.globalMenuSp').removeClass('active');
        }

    });
});

$(function() {
    $('.globalMenuSp a[href]').click(function() {
        $('.globalMenuSp').removeClass('active');
       $('.hamburger').removeClass('active');

    });
  });
</script>
