<container>
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <h1>投稿確認画面</h1>
        <label>タイトル</label>
        <%= @column.title %>

        <label>記事</label>
        <%= @column.text %>

        <label>画像</label>
        <%= attachment_image_tag @column, :image %>

      <%= form_with model: @column, url:admin_columns_path, method: :POST, local:true do |f| %>
        <%= f.submit '投稿する' %>
      <% end %>
    </div>
  </div>
</container>