<container>
  <div class="row">
    <div class="col-lg-2">
    </div>

    <div class="col-lg-8">
      <div class="admin_title_box">
        <h4 class="admin_title"><%= @column.title %></h4>
      </div>

      <div class="column_main_box">
        <%= attachment_image_tag @column, :image, style:"width:600px; height:auto;" %>

        <div class="column_text">
          <%= @column.text %>
        </div>

        <div class="button">
          <%=link_to "編集" ,edit_admin_column_path(@column.id),method: :GET, class:"btn btn-info" ,style:"width:120px" %>
          <%=link_to "削除", admin_column_path(@column),method: :delete, class:"btn btn-danger" ,style:"width:120px" %>
        </div>
      </div>
    </div>

    <div class="col-lg-2">
    </div>

  </div>
</container>