<conainer>
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <h1>マイページ</h1>

      <%= link_to "MY投稿一覧", users_posts_path %>
      <%= link_to "MYお気に入り一覧", users_favorites_path %>

      <p>名前</p><%= @user.last_name %><%= @user.first_name %>
      <p>フリガナ</p><%= @user.last_name_kana%><%= @user.first_name_kana %>
      <p>メールアドレス</p><%= @user.email %>
      <p>生年月日</p><%= @user.birth_year %>年<%= @user.birth_month %>月<%= @user.birth_day %>
      <p>年齢</p><%= @user.old %>歳
      <p>郵便番号</p><%= @user.postal_code %>
      <p>住所</p><%= @user.address %>

      <%= link_to "変更する", edit_user_path(@user),class:"btn btn-info" %>
      <%= link_to "退会する", users_withdraw_path(@user), class:"btn btn-danger" %>

    </div>
  </div>
</conainer>