<!DOCTYPE html>
<html>
  <head>
    <title>まちコミ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="nav">
      <div class="logo-nav">
        <div class="logo">
          <%= link_to root_path, class:"link_to" do %>
          <h1 class="top_title">まちコミ</h1>
          <% end %>
        </div>

        <div class="flash">
          <p class="notice"><%= notice %></p>
        </div>

             <nav class="navbar navbar-expand-md">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav ml-auto">
                    <% if user_signed_in? %>
                      <li class="nav-item">
                        <%= link_to "投稿一覧", posts_path, class:"btn btn-light", class:"nav-link" %>
                      </li>
                      <li class="nav-item">
                        <%= link_to "街のコラム", columns_path, class:"btn btn-light", class:"nav-link"  %>
                      </li>
                      <li class="nav-item">
                        <%= link_to "マイページ", users_my_page_path, class:"btn btn-light", class:"nav-link"  %>
                      </li>
                      <li class="nav-item">
                        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-light",style:"margin-left:20px", class:"nav-link"  %>
                      </li>

                    <% elsif admin_signed_in? %>
                      <li class="nav-item active">
                        <%= link_to "コラム一覧", admin_columns_path, class:"btn btn-light" %>
                      <li class="nav-item">
                        <%= link_to "ユーザー一覧", admin_users_path, class:"btn btn-light" %>
                      </li>
                      <li class="nav-item">
                        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"btn btn-light",style:"margin-left:20px" %>
                      </li>

                    <% else %>
                      <li class="nav-item active">
                        <%= link_to "新規登録", new_admin_registration_path, class:"btn btn-light" %>
                      <li class="nav-item">
                        <%= link_to "ログイン", new_admin_session_path, class:"btn btn-light" %>
                      </li>
                      <li class="nav-item">
                        <%= link_to "投稿一覧", posts_path, class:"btn btn-light" %>
                      </li>
                       <li class="nav-item">
                       <%= link_to "街のコラム", columns_path, method: :delete, class:"btn btn-light",style:"margin-left:20px" %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </nav>


    </header>

    <%= yield %>
  </body>
</html>
